@import "../../styles/_mixins.scss";

/* .secondary-cursor {
  z-index: 1000;

  position: fixed;
  pointer-events: none;
  width: 10px;
  height: 10px;
  background-color: #bdff00;
  border-radius: 100%;
} */

.secondary-cursor {
    z-index: 1000;
    border-radius: 50%;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
  
    background: white;
    mix-blend-mode: difference;
    transition: width 0.25s ease-in-out, height 0.25s ease-in-out;

    &.mask {
        width: 220px;
        height: 220px;
            mask-image: url('/mask.svg');
            mask-repeat: no-repeat;
            mask-size: 220px;
            background: #ec4e39;
            position: absolute;
            color: black;
    }

    &.xlarge {
        width: 220px;
        height: 220px;
        border-radius: 15px;
        border: 1px solid white;
        background: transparent;
      }
  
    &.large {
      width: 120px;
      height: 120px;
     /*  border-radius: 15px;
      border: 1px solid white;
      background: transparent; */
    }
    &.regular {
      width: 40px;
      height: 40px;
    }
    &.small {
      width: 20px;
      height: 20px;
    }
  }