/* .grid-lines {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;

  .lines {
    position: relative;

    .line {
      position: absolute;
      width: 1px;
      height: 100vh;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(244, 238, 238, 0.5);
      z-index: -1;

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0%;
        left: 0;
        background: linear-gradient(
          to bottom,
          rgba(255, 0, 89, 0) 0%,
          #f239f2 75%,
          #46e7d4 100%
        );
        animation: run 4s 0s infinite linear;
        animation-fill-mode: forwards;

        &:nth-child(3n +1) {
          animation-delay: 1s;
        }
      }
    }

    
    @keyframes run {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(100%);
      }
    }
    
    .line-vertical {
      position: absolute;
      width: 100%;
      height: 1px;
      top: 0%;
      left: 0;
      bottom: 0;
      transform: translateY(-50%);
      background: rgba(233, 228, 228, 0.5);
      z-index: -1;

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
          to right,
          rgba(255, 0, 89, 0) 0%,
          #f239f2 75%,
          #46e7d4 100%
        );
        animation: run 4s 0s infinite linear;
        animation-fill-mode: forwards;

      
      }
    }
  }
}

@keyframes run {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
 */

 .grid-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;

  .line {
    position: absolute;
    background: rgba(233, 228, 228, 0.5);
    z-index: -1;
  }

  .line-vertical {
    width: 1px;
    height: 100%;
    background: rgba(244, 238, 238, 0.5);
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &:nth-child(3n + 1)::after {
      animation-delay: 1s;
    }

    &:nth-child(5n + 1)::after {
      animation-delay: 2s;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 300px;
      width: 1px;
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 0, 89, 0) 0%,
        #f239f2 75%,
        #46e7d4 100%
      );
      animation-delay: 0.4s;
      animation: run 4s 0s infinite linear;
      animation-fill-mode: forwards;

    }
  }

  .line-horizontal {
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

@keyframes run {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(200%);
  }
}