@use '@/styles/base/' as *;
/* ========== HAMBURGER NAV BUTTON ====================== */
.hamburger_wrapper {
    position: fixed;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 1000;    
    border-radius: 100px;
    padding: 8px;
    -webkit-filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.225));
            filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.225));
            width: 40%;
            background-color: transparent;
            border: 1px solid #f3f3f33e;
            pointer-events: auto;
            background-color: black;
  }

  .container {
    border-radius: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;


     button {
        position: relative;
        margin: 0 4px;
        outline: none;
        border: none;
        border: 1px solid #f8f8f831;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: transparent;
        pointer-events: auto;
        cursor: pointer;

        >svg {
            height: 80%;
            width: auto;
            fill: white;
        }
    }

    .text {
        border: 1px solid #f8f8f831;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 40px;
        padding: 0 4px;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
    }

    .home {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        pointer-events: auto;
        background-color: rgba(var(--primary), 0.7);
        border-radius: var(--border-radius);

        &.active {
            width: 100%;
    }

        .homeBtn {
            width: 50px;
            padding: 0 4px;
        }
    }

    .logoBtn {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        width: 50px;
        padding: 0 2px 0 4px;
        pointer-events: auto;
    }


    .listBtn {
        width: 50px;
       padding: 0 4px;
       pointer-events: auto;
    }

    .menu {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        pointer-events: auto;

        &.active {
                width: 100%;
        }

        .menuBtn {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            align-self: flex-end;
            width: 50px;
            padding-right: 4px;
        }
    }
  }

  .notActive {
    width: 0;
  }


  
  
  .hamburger {    
    position: absolute;   
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: block;
}

.hamburger span {
    width: 1.5rem;
    height: .1rem;
    background-color: $color-client-1;
    margin-bottom: .5rem;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    position: absolute;
}

.hamburger span:nth-child(1) {
    left: 0.75rem;
    top: 1rem;
}

.hamburger span:nth-child(2) {
    left: 0.75rem;
    top: 1.5rem;
}


.hamburger span:nth-child(2):after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem;
    height: 100%;
    background-color: $color-client-1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


.hamburger span:nth-child(3) {
    right: 0.75rem;
    top: 2rem;
}

.hamburger.active {
    transition: transform 0.6s ease;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

.hamburger.active span:nth-child(1),
.hamburger.active span:nth-child(3) {
    width: 0;
    background-color: $color-client-2;
}

.hamburger.active span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    transition-delay: 0.6s;

    background-color: $color-client-2;
}

.hamburger.active span:nth-child(2):after {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    transition-delay: 0.6s;

    background-color: $color-client-2;
}
      
 
  @media screen and (min-width: 768px) {
    .hamburger {
     /*  display: none; */
  }
}

.hide {
    z-index: 40;
    position: fixed;
   bottom: -200px;
    transition: all 0.4s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
  }
  
